<div class="modal fade" id="assignRoleModal" tabindex="-1" role="dialog"
     aria-labelledby="assignRoleModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div id="mainContent" class="modal-content">
            <div class="modal-header">
                <h5 class="modalTitle" id="assignRoleModalTitle">Choose an Role:</h5>
                @*<button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close">
                </button>*@
                <button id="btnAssignRoleClose" class="btn btn-primary">Close</button>
            </div>


            <div class="modal-body">
                <partial name="_RoleList" />
            </div>

            <div class="modal-footer">
                @* <button id="btnAssignRoleClose" class="btn btn-primary">Close</button> *@
            </div>
        </div>
    </div>
</div>