<table class="table">
    <thead>
        <tr>
            <th>
                Person Id
            </th>
            <th>
                Privilege Id
            </th>
            <th>
                Privilege Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="privilegeTableBody">
    </tbody>
</table>