<table class="table">
    <thead>
        <tr>
            <th>
                Person Id
            </th>
            <th>
                Role Id
            </th>
            <th>
                Role Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="roleTableBody">
    </tbody>
</table>