<table class="table">
    <thead>
        <tr>
            <th>
                Person Id
            </th>
            <th>
                Skill Id
            </th>
            <th>
                Skill Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="skillTableBody">
    </tbody>
</table>