<div class="modal fade" id="assignRoleSkillModal" tabindex="-1" role="dialog"
     aria-labelledby="assignRoleSkillModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div id="mainContent" class="modal-content">
            <div class="modal-header">
                <h5 class="modalTitle" id="assignRoleSkillModalTitle">Choose a Skill:</h5>
@*                 <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close">
                </button> *@
                <button id="btnAssignRoleSkillClose" class="btn btn-primary">Close</button>
            </div>


            <div class="modal-body">
                <partial name="_RoleSkillList" />
            </div>

            <div class="modal-footer">
                @* <button id="btnAssignSkillClose" class="btn btn-primary">Close</button> *@
            </div>
        </div>
    </div>
</div>