<table class="table">
    <thead>
        <tr>
            <th>
                Role Id
            </th>
            <th>
                Skill Id
            </th>
            <th>
                Skill Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="roleSkillTableBody">
    </tbody>
</table>